<!--==========================
  Header
============================-->
<header id="header" style="background-color: #111">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1><a href="#intro" class="scrollto">Hadhri</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><base href="/">Home</li>
        <li class="menu-active"><a href="/connexion/Home">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li class="menu-has-children"><a href="">service</a>
          <ul>
            <li><a href="/GererCategorie">Gérer Categorie</a></li>
            <li><a href="/GererVoiture">Gérer Voiture</a></li>
          </ul>
        </li>
        <li><a href="/connexion">Déconnexion</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
