<br><br><br><br><br><br>
<app-header></app-header>
<h1>Ajouter Ctegorie</h1>
<div class="row" style="margin-bottom: 40px">
  <div class="row" style="margin-left: 400px">
    <form #f="ngForm">
      <div class="form-group">
        <label>Id</label>
        <input type="text" name="id" class="form-control" [(ngModel)]="categorie.id"
               #i="ngModel" required >
      </div>
      <div class="alert alert-danger" *ngIf="i.touched && i.invalid">
        il faut remplir id
      </div>
      <div class="form-group">
        <label>Nom Categorie</label>
        <input type="text" name="nom" class="form-control" [(ngModel)]="categorie.nom"
               required minlength="3" #t="ngModel" pattern="[a-zA-Z]+$">
      </div>
      <div class="alert alert-danger" *ngIf="t.touched && t.invalid">
        <div *ngIf="t.errors.required">il faut remplir nom</div>
        <div *ngIf="t.errors.minlength">nom doit étre superieur a  3</div>
        <div *ngIf="t.errors.pattern">nom ne contient pas des chiffres</div>
      </div>
      <button *ngIf="!isEdit" (click)="save()" class="btn btn-success" [disabled]="f.invalid">
        ajouter
      </button>
      <button *ngIf="isEdit" (click)="updatedeuxiemeetape()" class="btn btn-success" [disabled]="f.invalid">
        modifier
      </button>
    </form>
  </div>
  <div class="row" style="margin-left: 200px;margin-top: 40px">
    <table class="table">
      <tr>Id<th>Nom</th><th>Action</th></tr>
      <tr *ngFor="let c of listCategorie |paginate: {itemsPerPage:2,currentPage:p};">
        <td>{{c.id}}</td>
        <td>{{c.nom}}</td>
        <td><button class="btn btn-dark" (click)="deleteE(c.id)">delete</button></td>
        <td><button class="btn btn-dark" (click)="updatepremiereetape(c)">Update</button></td>
      </tr>

    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>

</div>
<app-footer></app-footer>



