<header id="header" style="background-color: #111">
  <div class="container-fluid">

    <div id="logo" class="pull-left">
      <h1><a href="#intro" class="scrollto">Hadhri</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><base href="/">Connexion</li>
        <li class="menu-active"><a href="/connexion">Connexion</a></li>
        <li class="menu-has-children"><a href="/inscription">Inscription</a>
        </li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
<router-outlet></router-outlet>
