
<app-header></app-header>
<section id="intro">
  <div class="intro-container">
    <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active">
          <div class="carousel-background"><img src="assets/img/aa.jpg" style="width: 2000px" alt=""></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2>Bienvenu</h2>
              <p>Mon application consiste a permettre aux societés de voitures de s'inscrire et de pouvoir
                ajouter leurs marques de vehicules et les modeles ainsi les autres societés peuvent
                les voirs .</p>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section><!-- #intro -->
  <section id="about" style="margin-left: 40px">
    <div class="container">

      <header class="section-header">
        <h3>Nos voitures</h3>
      </header>
      <form style="margin-bottom: 50px;margin-left: 350px">
        <div class="form-group">
          <label>Search</label>
          <input name="priceMax" type="" [(ngModel)]="priceMax" [(ngModel)]="nom" class="form-control col-md-6">
        </div>
      </form>
      <div class="row">
        <app-list-voitures *ngFor="let e of listVoiture | async |paginate: {itemsPerPage:3,currentPage:p};" [voiture]="e"
                           (notifLike)="incrementLike($event)" style="display: flex; margin-bottom: 50px"
                           [priceInput]="priceMax" [nomInput]="nom ">

        </app-list-voitures>

        <br><br><pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </section><!-- #about -->
<app-footer></app-footer>
